<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.discern.car.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.discern.car.entity.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
    <result column="car_name" property="carName" jdbcType="VARCHAR" />
    <result column="car_brand" property="carBrand" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.discern.car.entity.Car" extends="BaseResultMap" >
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cover_pic, car_name, car_brand, category_id
  </sql>
  <sql id="Blob_Column_List" >
    detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.discern.car.entity.Car" >
    insert into car (id, cover_pic, car_name, 
      car_brand, category_id, detail
      )
    values (#{id,jdbcType=INTEGER}, #{coverPic,jdbcType=VARCHAR}, #{carName,jdbcType=VARCHAR}, 
      #{carBrand,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.discern.car.entity.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coverPic != null" >
        cover_pic,
      </if>
      <if test="carName != null" >
        car_name,
      </if>
      <if test="carBrand != null" >
        car_brand,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null" >
        #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.discern.car.entity.Car" >
    update car
    <set >
      <if test="coverPic != null" >
        cover_pic = #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="carName != null" >
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null" >
        car_brand = #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.discern.car.entity.Car" >
    update car
    set cover_pic = #{coverPic,jdbcType=VARCHAR},
      car_name = #{carName,jdbcType=VARCHAR},
      car_brand = #{carBrand,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.discern.car.entity.Car" >
    update car
    set cover_pic = #{coverPic,jdbcType=VARCHAR},
      car_name = #{carName,jdbcType=VARCHAR},
      car_brand = #{carBrand,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>