<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.discern.car.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.discern.car.entity.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
    <result column="car_name" property="carName" jdbcType="VARCHAR" />
    <result column="car_brand" property="carBrand" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="begin_price" property="beginPrice" jdbcType="REAL" />
    <result column="end_price" property="endPrice" jdbcType="REAL" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="INTEGER" />
    <result column="structure" property="structure" jdbcType="INTEGER" />
    <result column="displacement" property="displacement" jdbcType="REAL" />
    <result column="seat" property="seat" jdbcType="INTEGER" />
    <result column="air_intake" property="airIntake" jdbcType="INTEGER" />
    <result column="energy" property="energy" jdbcType="INTEGER" />
    <result column="driving_method" property="drivingMethod" jdbcType="INTEGER" />
    <result column="transmission" property="transmission" jdbcType="INTEGER" />
    <result column="production_methods" property="productionMethods" jdbcType="INTEGER" />
  </resultMap>


  <resultMap id="ResultMapWithBLOBs" type="com.discern.car.entity.Car" extends="BaseResultMap" >
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>


  <resultMap id="CarPic" type="com.discern.car.entity.CarPic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="img_src" property="imgSrc" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="CarSaleman" type="com.discern.car.entity.Salesman" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="personal_pic" property="personalPic" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="CarMap" type="com.discern.car.dto.CarDto" extends="ResultMapWithBLOBs">
    <collection property="carPic" column="id" javaType="ArrayList" ofType="com.discern.car.entity.CarPic" select="selectCarPic">
    </collection>
    <collection property="salesman" column="car_brand" javaType="ArrayList" ofType="com.discern.car.dto.SalesmanDto" select="selectCarSaleman">
    </collection>
  </resultMap>

  <resultMap id="SellShopMap" type="com.discern.car.entity.SellShopInfo" >
    <id column="shop_id" property="id" jdbcType="INTEGER" />
    <result column="latitute" property="latitute" jdbcType="DECIMAL" />
    <result column="location_detail" property="locationDetail" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="longitute" property="longitute" jdbcType="DECIMAL" />
    <result column="shop_pic" property="shopPic" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="salesmanShop" type="com.discern.car.dto.SalesmanDto" extends="CarSaleman">
    <association property="sellShopInfo" resultMap="SellShopMap"></association>
  </resultMap>

  <select id="selectCarPic" parameterType="integer" resultMap="CarPic">
    select * from car_pic where car_id = #{id}
  </select>

  <select id="selectCarSaleman" parameterType="integer" resultMap="salesmanShop">
    select s.tel,s.name,s.sex,s.email,s.personal_pic,ss.location_detail,ss.shop_name,ss.id as shop_id,ss.latitute,ss.longitude from sell_shop_info ss,salesman_brand sb LEFT JOIN salesman s on sb.salesman_id = s.id where sb.brand_id = #{id}
 and s.shop_id = ss.id;
  </select>

  <sql id="Base_Column_List" >
    id, cover_pic, car_name, car_brand, category_id, begin_price,end_price, level, country, structure,
    displacement, seat, air_intake, energy, driving_method, transmission, production_methods
  </sql>
  <sql id="Blob_Column_List" >
    detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="CarMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByBrandId" resultMap="CarMap">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from car where car_brand = #{id,jdbcType=INTEGER} limit #{pageNum,jdbcType=INTEGER},10
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.discern.car.entity.Car" >
    insert into car (id, cover_pic, car_name, 
      car_brand, category_id, begin_price,end_price,
      level, country, structure, 
      displacement, seat, air_intake, 
      energy, driving_method, transmission, 
      production_methods, detail)
    values (#{id,jdbcType=INTEGER}, #{coverPic,jdbcType=VARCHAR}, #{carName,jdbcType=VARCHAR}, 
      #{carBrand,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{beginPrice,jdbcType=REAL},#{endPrice,jdbcType=REAL},
      #{level,jdbcType=INTEGER}, #{country,jdbcType=INTEGER}, #{structure,jdbcType=INTEGER}, 
      #{displacement,jdbcType=REAL}, #{seat,jdbcType=INTEGER}, #{airIntake,jdbcType=INTEGER}, 
      #{energy,jdbcType=INTEGER}, #{drivingMethod,jdbcType=INTEGER}, #{transmission,jdbcType=INTEGER}, 
      #{productionMethods,jdbcType=INTEGER}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.discern.car.entity.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coverPic != null" >
        cover_pic,
      </if>
      <if test="carName != null" >
        car_name,
      </if>
      <if test="carBrand != null" >
        car_brand,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="beginPrice != null" >
        beginPrice,
      </if>
      <if test="endPrice != null" >
        endPrice,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="structure != null" >
        structure,
      </if>
      <if test="displacement != null" >
        displacement,
      </if>
      <if test="seat != null" >
        seat,
      </if>
      <if test="airIntake != null" >
        air_intake,
      </if>
      <if test="energy != null" >
        energy,
      </if>
      <if test="drivingMethod != null" >
        driving_method,
      </if>
      <if test="transmission != null" >
        transmission,
      </if>
      <if test="productionMethods != null" >
        production_methods,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null" >
        #{carBrand,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="beginPrice != null" >
        beginPrice,
      </if>
      <if test="endPrice != null" >
        endPrice,
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        #{country,jdbcType=INTEGER},
      </if>
      <if test="structure != null" >
        #{structure,jdbcType=INTEGER},
      </if>
      <if test="displacement != null" >
        #{displacement,jdbcType=REAL},
      </if>
      <if test="seat != null" >
        #{seat,jdbcType=INTEGER},
      </if>
      <if test="airIntake != null" >
        #{airIntake,jdbcType=INTEGER},
      </if>
      <if test="energy != null" >
        #{energy,jdbcType=INTEGER},
      </if>
      <if test="drivingMethod != null" >
        #{drivingMethod,jdbcType=INTEGER},
      </if>
      <if test="transmission != null" >
        #{transmission,jdbcType=INTEGER},
      </if>
      <if test="productionMethods != null" >
        #{productionMethods,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.discern.car.entity.Car" >
    update car
    <set >
      <if test="coverPic != null" >
        cover_pic = #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="carName != null" >
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null" >
        car_brand = #{carBrand,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="beginPrice != null" >
        beginPrice,</if>
      <if test="endPrice != null" >
        endPrice,
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=INTEGER},
      </if>
      <if test="structure != null" >
        structure = #{structure,jdbcType=INTEGER},
      </if>
      <if test="displacement != null" >
        displacement = #{displacement,jdbcType=REAL},
      </if>
      <if test="seat != null" >
        seat = #{seat,jdbcType=INTEGER},
      </if>
      <if test="airIntake != null" >
        air_intake = #{airIntake,jdbcType=INTEGER},
      </if>
      <if test="energy != null" >
        energy = #{energy,jdbcType=INTEGER},
      </if>
      <if test="drivingMethod != null" >
        driving_method = #{drivingMethod,jdbcType=INTEGER},
      </if>
      <if test="transmission != null" >
        transmission = #{transmission,jdbcType=INTEGER},
      </if>
      <if test="productionMethods != null" >
        production_methods = #{productionMethods,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.discern.car.entity.Car" >
    update car
    set cover_pic = #{coverPic,jdbcType=VARCHAR},
      car_name = #{carName,jdbcType=VARCHAR},
      car_brand = #{carBrand,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      begin_price = #{beginPrice,jdbcType=REAL},end_price = #{endPrice,jdbcType=REAL},
      level = #{level,jdbcType=INTEGER},
      country = #{country,jdbcType=INTEGER},
      structure = #{structure,jdbcType=INTEGER},
      displacement = #{displacement,jdbcType=REAL},
      seat = #{seat,jdbcType=INTEGER},
      air_intake = #{airIntake,jdbcType=INTEGER},
      energy = #{energy,jdbcType=INTEGER},
      driving_method = #{drivingMethod,jdbcType=INTEGER},
      transmission = #{transmission,jdbcType=INTEGER},
      production_methods = #{productionMethods,jdbcType=INTEGER},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.discern.car.entity.Car" >
    update car
    set cover_pic = #{coverPic,jdbcType=VARCHAR},
      car_name = #{carName,jdbcType=VARCHAR},
      car_brand = #{carBrand,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      begin_price = #{beginPrice,jdbcType=REAL},end_price = #{endPrice,jdbcType=REAL},
      level = #{level,jdbcType=INTEGER},
      country = #{country,jdbcType=INTEGER},
      structure = #{structure,jdbcType=INTEGER},
      displacement = #{displacement,jdbcType=REAL},
      seat = #{seat,jdbcType=INTEGER},
      air_intake = #{airIntake,jdbcType=INTEGER},
      energy = #{energy,jdbcType=INTEGER},
      driving_method = #{drivingMethod,jdbcType=INTEGER},
      transmission = #{transmission,jdbcType=INTEGER},
      production_methods = #{productionMethods,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="advancedSelect" resultMap="BaseResultMap">
    select * from car
    <where>
      <if test="be_price != null and be_price >= 0">
        begin_price <![CDATA[ >= ]]> #{be_price,jdbcType=REAL}
      </if>
      <if test="en_price != null and en_price >= 0 ">
        and end_price <![CDATA[ <= ]]> #{en_price,jdbcType=REAL}
      </if>
      <if test="displacement != null and displacement.length != 0">
        and
        <foreach collection="displacement" item="displacementItem" index="index" separator="or">
          displacement
          <if test="displacementItem == 0">
            <![CDATA[ <= ]]> 1.0
          </if>
          <if test="displacementItem == 1">
            between 1.1 and 1.6
          </if>
          <if test="displacementItem == 2">
            between 1.7 and 2.0
          </if>
          <if test="displacementItem == 3">
            between 2.1 and 2.5
          </if>
          <if test="displacementItem == 4">
            between 2.6 and 3.0
          </if>
          <if test="displacementItem == 5">
            between 2.1 and 4.0
          </if>
          <if test="displacementItem == 6">
            <![CDATA[ > ]]> 4.0
          </if>
        </foreach>
      </if>
      <if test="structure != null and structure.length != 0 ">
        and structure in
        <foreach collection="structure" item="structureItem" index="index" separator="," open="(" close=")">
          #{structureItem,jdbcType=INTEGER}
        </foreach>
      </if>

      <if test="level != null and level.length != 0 ">
        and level in
        <foreach collection="level" item="levelItem" index="index" separator="," open="(" close=")">
          #{levelItem,jdbcType=INTEGER}
        </foreach>
      </if>

      <if test="transmission != null and transmission.length != 0 ">
        and transmission in
        <foreach collection="transmission" item="transmissionItem" index="index" separator="," open="(" close=")">
          #{transmissionItem,jdbcType=INTEGER}
        </foreach>
      </if>

      <if test="country != null and country.length != 0 ">
        and country in
        <foreach collection="country" item="countryItem" index="index" separator="," open="(" close=")">
          #{countryItem,jdbcType=INTEGER}
        </foreach>
      </if>

      <if test="production_methods != null and production_methods.length != 0 ">
        and production_methods in
        <foreach collection="attribute" item="production_methods_Item" index="index" separator="," open="(" close=")">
          #{production_methods_Item,jdbcType=INTEGER}
        </foreach>
      </if>

      <if test="energy != null and energy.length != 0 ">
        and energy in
        <foreach collection="energy" item="energyItem" index="index" separator="," open="(" close=")">
          #{energyItem,jdbcType=INTEGER}
        </foreach>
      </if>

      <if test="driving_method != null and driving_method.length != 0 ">
        and driving_method in
        <foreach collection="driving_method" item="driving_methodItem" index="index" separator="," open="(" close=")">
          #{driving_methodItem,jdbcType=INTEGER}
        </foreach>
      </if>

      <if test="seat != null and seat.length != 0">
        and
        <foreach collection="seat" item="seatItem" index="index" separator="or">
          seat
          <if test="seatItem == 0">
            <![CDATA[ = ]]> 2
          </if>
          <if test="seatItem == 1">
            <![CDATA[ = ]]> 4
          </if>
          <if test="seatItem == 2">
            <![CDATA[ = ]]> 5
          </if>
          <if test="seatItem == 3">
            <![CDATA[ = ]]> 6
          </if>
          <if test="seatItem == 4">
            <![CDATA[ = ]]> 7
          </if>
          <if test="seatItem == 5">
            <![CDATA[ > ]]> 7
          </if>
        </foreach>
      </if>
    </where>

  </select>
</mapper>