<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.discern.car.dao.IssueMapper" >
  <resultMap id="BaseResultMap" type="com.discern.car.entity.Issue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="topic_pic" property="topicPic" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />

  </resultMap>

  <resultMap id="TagResultMap" type="com.discern.car.dto.IssueDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="topic_pic" property="topicPic" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />

  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.discern.car.entity.Issue" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR"/>
  </resultMap>

  <resultMap id="ResultMapWithBLOBsTag" type="com.discern.car.dto.IssueDto" extends="TagResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, author, create_time, title, topic_pic, view_count
  </sql>
  <sql id="Blob_Column_List" >
    content,introduce
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from issue
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKeyWithTag" resultMap="ResultMapWithBLOBsTag" parameterType="java.lang.Integer" >
    select i.*,t.brand_name from issue_tag it LEFT JOIN tag t on it.tag_id = t.tag_id RIGHT JOIN issue i on it.issue_id = i.id
    where i.id = #{id,jdbcType=INTEGER};
  </select>

  <delete id="deleteIssueTag" parameterType="java.lang.Integer" >
    delete from issue_tag
    where issue_id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from issue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.discern.car.entity.Issue" >
    insert into issue ( author, create_time,
      title, topic_pic, view_count, introduce,
      content)
    values (#{author,jdbcType=VARCHAR}, now(),
      #{title,jdbcType=VARCHAR}, #{topicPic,jdbcType=VARCHAR}, 0,#{introduce,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.discern.car.entity.Issue" >
    insert into issue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="topicPic != null" >
        topic_pic,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="topicPic != null" >
        #{topicPic,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.discern.car.entity.Issue" >
    update issue
    <set >
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="topicPic != null" >
        topic_pic = #{topicPic,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.discern.car.entity.Issue" >
    update issue
    set author = #{author,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      topic_pic = #{topicPic,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.discern.car.entity.Issue" >
    update issue
    set author = #{author,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      topic_pic = #{topicPic,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByHot" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    FROM issue i ORDER BY view_count DESC ;
  </select>
  <select id="selectRecommendIssue" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    FROM issue i LEFT JOIN issue_tag it on i.id = it.issue_id LEFT JOIN user_tag ut on it.tag_id = ut.tag_id where ut.user_id  = #{userId,jdbcType=INTEGER};
  </select>
  <select id="selectByTextSearch" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from issue i where  i.title like #{textSearch,jdbcType=VARCHAR} or i.content like #{textSearch,jdbcType=VARCHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select COUNT(*) from issue;
  </select>
  <select id="list" resultMap="TagResultMap">
    select i.*,t.brand_name from issue_tag it LEFT JOIN tag t on it.tag_id = t.tag_id RIGHT JOIN issue i on it.issue_id = i.id
    limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

  <update id="updateViewCountByPrimaryKey">
    update issue
    set `view_count` = `view_count` + 1
    where id = #{id,jdbcType=INTEGER}
  </update>


  <insert id="insertIssueTag">
    insert into issue_tag(tag_id,issue_id) values (#{tagId,jdbcType=INTEGER},#{issueId,jdbcType=INTEGER})
  </insert>

  <update id="updateIssueTag">
    update issue_tag
    set `tag_id` = #{tagId,jdbcType=INTEGER}
    where issue_id = #{issueId,jdbcType=INTEGER}
  </update>
</mapper>