<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.discern.car.dao.SellShopInfoMapper" >
  <resultMap id="shopInfoDto" type="com.discern.car.dto.SaleShopDto">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
    <result column="latitute" property="latitute" jdbcType="DOUBLE"/>
    <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
    <result column="location_detail" property="locationDetail" jdbcType="VARCHAR"/>
    <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
    <result column="brand" property="brand" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="VARCHAR"/>
    <result column="tel" property="tel" jdbcType="VARCHAR"/>
    <result column="shopPic" property="shop_pic" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="BaseResultMap" type="com.discern.car.entity.SellShopInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="latitute" property="latitute" jdbcType="DECIMAL" />
    <result column="location_detail" property="locationDetail" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="longitute" property="longitute" jdbcType="DECIMAL" />
    <result column="shop_pic" property="shopPic" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, latitute, location_detail, brand_id, longitute, shop_pic, shop_name, brand, type, 
    tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sell_shop_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sell_shop_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.discern.car.entity.SellShopInfo" >
    insert into sell_shop_info (id, latitute, location_detail, 
      brand_id, longitute, shop_pic, 
      shop_name, brand, type, 
      tel)
    values (#{id,jdbcType=INTEGER}, #{latitute,jdbcType=DECIMAL}, #{locationDetail,jdbcType=VARCHAR}, 
      #{brandId,jdbcType=INTEGER}, #{longitute,jdbcType=DECIMAL}, #{shopPic,jdbcType=VARCHAR}, 
      #{shopName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.discern.car.entity.SellShopInfo" >
    insert into sell_shop_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="latitute != null" >
        latitute,
      </if>
      <if test="locationDetail != null" >
        location_detail,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="longitute != null" >
        longitute,
      </if>
      <if test="shopPic != null" >
        shop_pic,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tel != null" >
        tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="latitute != null" >
        #{latitute,jdbcType=DECIMAL},
      </if>
      <if test="locationDetail != null" >
        #{locationDetail,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="longitute != null" >
        #{longitute,jdbcType=DECIMAL},
      </if>
      <if test="shopPic != null" >
        #{shopPic,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.discern.car.entity.SellShopInfo" >
    update sell_shop_info
    <set >
      <if test="latitute != null" >
        latitute = #{latitute,jdbcType=DECIMAL},
      </if>
      <if test="locationDetail != null" >
        location_detail = #{locationDetail,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="longitute != null" >
        longitute = #{longitute,jdbcType=DECIMAL},
      </if>
      <if test="shopPic != null" >
        shop_pic = #{shopPic,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.discern.car.entity.SellShopInfo" >
    update sell_shop_info
    set latitute = #{latitute,jdbcType=DECIMAL},
      location_detail = #{locationDetail,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      longitute = #{longitute,jdbcType=DECIMAL},
      shop_pic = #{shopPic,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAroundSellShopByBrandId" resultMap="shopInfoDto">
    SELECT *
    FROM sell_shop_info
    WHERE brand_id = #{brandId}
      AND latitute BETWEEN #{latitude} - 300 and #{latitude} + 300
      AND longitude BETWEEN #{longitude} - 300 and #{longitude} + 300
    ORDER BY ACOS(SIN((#{latitude} * 3.1415) / 180) * SIN((latitute * 3.1415) / 180) +
                  COS((#{latitude} * 3.1415) / 180) * COS((latitute * 3.1415) / 180) *
                  COS((#{longitude} * 3.1415) / 180 - (longitude * 3.1415) / 180)) * 6380 ASC
    LIMIT 10;
  </select>
</mapper>